render_html.json
{
  "nodes": [
    {
      "parameters": {
        "path": "form-joako",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -240,
        0
      ],
      "id": "17b2125e-d816-40d0-94dd-c3653357d876",
      "name": "Webhook",
      "webhookId": "d2f6f98b-4965-47d6-97d2-6857ba3d9e14"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json[\"contenido_html\"] }}\n\n\n",
        "options": {
          "responseCode": 200,
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "text/html"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        208,
        0
      ],
      "id": "5f047609-1259-4fb4-8c98-939f185bcad6",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "formularios_joako",
          "mode": "list",
          "cachedResultName": "formularios_joako"
        },
        "limit": 1,
        "sort": {
          "values": [
            {
              "column": "id",
              "direction": "DESC"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -32,
        0
      ],
      "id": "14b90d59-c753-4f90-8a75-480ca6d59ab7",
      "name": "Select rows from a table1",
      "credentials": {
        "postgres": {
          "id": "Tu-id-aqui",
          "name": "Postgres account"
        }
      }
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Select rows from a table1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Select rows from a table1": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "26dc0e3a3d4c8cfca6496d8b64a53fffa1299778381fce72f04d0bb53077cbd5"
  }
}